@use "styles" as s;
@use "mixins" as m;

.container {
  @include m.container();
  .star-icon {
    padding: 0.8rem;
    border-radius: 100%;
    background-color: rgba($color: s.$White, $alpha: 0.05);
  }
  .title {
    @include m.title();
  }
  .text {
    @include m.text();
  }
  .btn-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    .item {
      display: flex;
      padding: 0.8rem;
      border-radius: 100%;
      background-color: rgba($color: s.$White, $alpha: 0.05);
      transition: all 0.1s;
      @media (min-width: 50rem) {
        &:hover {
          background-color: s.$White;
          .btn {
            color: s.$VeryDarkBlue;
          }
        }
      }
      .btn {
        font-weight: 700;
        color: rgba($color: s.$LightGrey, $alpha: 1);
        background-color: transparent;
        border: none;
      }
    }
    .selected-item {
      background-color: s.$Orange;
      .btn {
        color: s.$VeryDarkBlue;
      }
    }
  }
  .submit-btn {
    width: 100%;
    margin-top: 0.5rem;
    padding: 1rem;
    border: none;
    border-radius: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    color: s.$VeryDarkBlue;
    background-color: s.$Orange;
    transition: all 0.1s;
    font-family: "Overpass", serif;
    font-weight: 700;
    font-size: 15px;
    text-size-adjust: auto;
    &:hover {
      background-color: s.$White;
    }
  }
}
